.about {
    min-height: 485px;
    padding-top: 70px;
    &__wrapper {
        display: flex;
        justify-content: center;
        column-gap: 79px;
    }
    &__img {
        filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.25));
    }
    &__text {
        width: 346px;

    }
    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        color: #000000;
        text-align: center; 
    }
    &__descr {
        margin-top: 25px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #000000;
    }
}