.about-us {
    min-height: 520px;
    padding-top: 80px;
    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        text-align: center;
    }   
    &__descr {
        width: 590px;
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #000000;
        text-align: center;
    }
}