.main-header {
    min-height: 640px;
    padding-top: 52px;
    background: url('../../resources/img/bg/main-header-bg.jpg') no-repeat center/cover;
    &__title {
        margin-top: 111px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 58px;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: center;
    }
    &__subtitle {
        margin-top: 34px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 45px;
        color: #FFFFFF;
        text-align: center;
        span {
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    &__button {
        display: block;
        margin: 0 auto;
        margin-top: 18px;
        width: 120px;
        height: 30px;
        border: 1px solid #FFFFFF;
        background: rgba(255, 255, 255, 0);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 3px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
        cursor: pointer;
        transition: background 0.3s;
        &:hover {
            background: rgba(255, 255, 255, 0.2);
        }
    }
}